# GNU Emacs temporary files
\#*
.\#*
*~
.php_cs_cache
.vagrant
.vscode/*
/downloads
/solr/vendor
/vendor
ChangeLog
TAGS
composer.phar
import/solrmarc.log*
lessphp_*.list
composer.lock
import/solrmarc.log
import/*
node_modules
public/swagger-ui
public/phpinfo.php
data/
*.mrc
/solr/
/env.bat
/local
/.idea/
/public/php---info.php
/local/config/vufind/
/themes/**/css/
/themes/**/make/
