# GNU Emacs temporary files
\#*
.\#*
*~
.php_cs_cache
.vagrant
.vscode/*
/downloads
/vendor
ChangeLog
TAGS
composer.phar
lessphp_*.list
composer.lock
node_modules
public/swagger-ui
public/phpinfo.php
data/
*.mrc
/env.bat
/local
/.idea/
/public/php---info.php
/local/config/vufind/
/themes/**/css/
/themes/**/make/
/config

#/solr/
/solr/vendor
import/solrmarc.log
import/solrmarc.log*
/harvest/elib
/harvest/Koha
/harvest/NTRS
/solr/vufind/biblio/index
/solr/vufind/biblio/spellchecker
/solr/vufind/biblio/spellShingle
/solr/vufind/logs
/solr/vufind/biblio/index/
