# GNU Emacs temporary files
\#*
.\#*
*~
# Vim temporary files
.*.sw[po]

.php_cs_cache
.phpstan_cache
.vagrant
.vscode/*
/downloads
/Gruntfile.local.js
/solr/vendor
/vendor
ChangeLog
TAGS
composer.phar
env.bat
env.sh
import/solrmarc.log*
lessphp_*.list
module/VuFind/tests/.phpunit.result.cache
node_modules
package-lock.json
public/swagger-ui
local/DirLocations.ini
local/config/vufind/*.ini
local/config/vufind/*.json
local/config/vufind/*.yaml
composer.lock
public/phpinfo.php
data/
*.mrc
/env.bat
/local
/.idea/
/public/php---info.php
/local/config/vufind/
/themes/**/css/*.css
/themes/**/css/*.map
/themes/**/make/*.d
/config
import/solrmarc.log
/harvest/elib
/harvest/Koha
/harvest/NTRS
/solr/vufind/biblio/index
/solr/vufind/biblio/spellchecker
/solr/vufind/biblio/spellShingle
/solr/vufind/logs
/solr/vufind/biblio/index/
