// Switch on/off highlighting visibility using
// background color in alpha channel
// rgba(255,255,0,0) = off,
// rgba(255,255,0,1) = maximum saturation


// decent gray gradient
body:not(.frame) {
    #gradient.vertical(darken(#fff, 30%); #fff; 15%; 90%);
}

.facet.verticalcenter:nth-child(3), .facet.verticalcenter:nth-child(6) {
    border-bottom: 1px solid @gray-dark;
    margin-bottom: @grid-gutter-width/2;
    padding-bottom: @grid-gutter-width/2;
}
.facet.verticalcenter:last-of-type {
    margin-bottom: @grid-gutter-width/2;
}
@checkbox_text_indent: 8px;
.checkbox-filter .text {
    margion-left: @checkbox_text_indent;
    text-indent: -@checkbox_text_indent;
}