/** Body **/
html body:not(.frame) {
  padding-top: 0px;
}

.searchForm-inputs {
  display: inline-flex;
  align-items: center;
}

.searchForm-query {
  background-color: white;
  flex: 1;
}

.searchForm .searchForm-query #searchForm-reset {
  width: 2em;
  margin: 0 2px 0 0;
}

//.navbar-default {
//  background-color: #FF3C2D;
//  border-color: #FF3C2D;
//}